<body>
<h1>youtube</h1>
<p>
Sign up your YouTube account
</p>
<head>
<tittle>my YouTube channel</tittle>
</head>
<h1>my video</h1>
<p>
Celebrities on
<em>celebrate</em>
<br />
Putblock on
<strong>block</strong>
</p>
</body>
